@import 'variables';
@import 'mixins';

body {
  background-color: $primary-color;
}

.successful-form-submission {
  display: table;
  margin: 0 auto;
  
  .container {
    border-radius: 2px;
    background-color: $white;
    padding: 30px;
    margin: 30px;
    text-align: center;

    // bootstrap overrides
    .btn.btn-primary {
      background-color: $primary-color;
      border: 0;
      width: 100%;

      &:active:focus, &:active:hover {
        background-color: $primary-darken-color;
      }
    }
  }
}
